/****************** PACKAGES *********************/
/* --------------------------------Entry-box----------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-4 .item {
  padding: 0 15px;
}
.box-entry {
  color: #4d4d4d;
  margin-bottom: 30px;
  border-bottom: 4px solid #eee;
  background: #fff;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  position: relative;
  max-width: 100%;
  display: block;
  clear: both;
  z-index: 1;
}
.box-entry:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -4px;
  border-top: 1px solid #514c0c;
  border-bottom: 4px solid #514c0c;
  transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  z-index: -1;
}
.box-entry:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid #514c0c;
  border-right: 1px solid #514c0c;
  transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  transition: all 0.4s ease-in-out 0s;
  -ms-transform: scale(0, 1);
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  z-index: -1;
}
.box-entry .box-entry-inner {
  position: relative;
  z-index: 1;
}
.box-entry img {
  border: none;
  width: 100%;
}

.box-entry .entry-des {
  padding: 0 20px 20px;
}
.box-entry .entry-des h3 {
  margin: 20px 0 0;
  font-size: 29px;
  text-transform: uppercase;
  font-weight: 500;
  color: green;
}
.box-entry .entry-des span {
  margin-bottom: 20px;
  display: block;
  color: #aaa;
}

.box-entry .entry-bottom {
  padding: 15px 20px;
  border-top: 1px solid #ccc;
}
.box-entry .entry-bottom a.btn {
  float: right;
  margin: 0;
}

.box-entry:hover .entry-bottom {
  border-top: 1px solid #514c0c;
}
.box-entry:hover:before,
.box-entry:hover:after {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
}
.card-price {
  margin-right: 8em;
  color: rgb(51, 85, 51);
}
.card-price span {
  color: rgb(77, 163, 74);
  font-size: 20px;
}
/*------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
  border-radius: 20px;
  outline: none;
  background-color: #3ea847 !important;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 14px;
  border: #85db70;
}
a.btn:focus {
  outline: 0;
}

.btn:hover {
  color: rgb(98, 116, 81);
}

/**************** MEDIA QUERIES ***************************/
@media only screen and (max-width: 769px) {
  .box-entry {
    text-align: center;
  }
}

@media (max-width: 769px) {
  .box-entry .entry-des h3 {
    margin-right: 1rem;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500 bold;
    color: green;
  }
}
