/************************ WELCOME ********************/

.box-content {
  padding: 100px 0 !important;
}

.box-content .heading {
  margin-bottom: 50px !important;
  text-align: center !important;
}

.box-content .heading h2 {
  letter-spacing: 7px !important;
  font-family: 'Dancing Script', cursive !important;
}

.box-content .heading .intro {
  font-size: 22px !important;
  font-family: 'Shadows Into Light', cursive;
  font-style: italic;
}

.line-1 {
  margin: 15px auto;
  padding: 0;
  max-width: 100px;
  border: 0;
  border-top: solid 5px #333;
  text-align: center;
}

.box-content.box-1 {
  text-align: center;
}

.box-content.box-1 img {
  text-align: center;
  margin: 40px auto;
}

.box-content.box-1 .white-table {
  margin-top: -150px;
  background: #fefefe;
  border-top: 7px solid #1b5b2e;
  border-bottom: 7px solid #1b5b2e;
  border-left: 7px solid #1b5b2e;
  border-right: 7px solid #1b5b2e;
  padding: 50px 20px;
  border-radius: 6px;
}

/********************** WELCOME 2ND SECTION ****************/

.box-content.box-style {
  color: #fff;
  background: url('../../assets/snake1.jpeg') #222 no-repeat fixed;
}

/****************** MEDIA QUERIES ******************/
@media only screen and (max-width: 1100px) {
  .box-content.box-2 i {
    font-size: 36px;
  }
}

@media only screen and (max-width: 960px) {
  .box-content.box-2 i {
    padding: 30px 60px;
    font-size: 24px;
  }
  .box-content.box-2 i:before,
  .box-content.box-2 i:after {
    width: 30px;
    height: 30px;
    font-size: 66px;
  }
}

@media only screen and (max-width: 767px) {
  .box-content .heading h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 690px) {
  .box-content.box-2 i {
    padding: 10px 30px;
    font-size: 21px;
  }
  .box-content.box-2 i:before,
  .box-content.box-2 i:after {
    font-size: 36px;
  }
}
