/********************** NAVBAR ******************/
.navbar-toggler {
  background-color: #1b5b2e;
  color: #fff;
  border: none !important;
  margin-right: 1.2em;
}
.navbar-toggler-icon {
  color: #fff;
  border: none !important;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: #1b5b2e;
  border: none !important;
}

.navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
  margin-top: 1.5em;
}

a {
  text-decoration: none !important;
}

.navbar {
  background: #fff url('../../assets/grass.png') no-repeat 100% 100% !important;
}

.ml-auto a {
  color: rgb(106, 190, 113);
  align-items: center;
  display: flex;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-decoration: none !important;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #00892c;
  font-weight: bold;
}

.ml-auto a:hover,
.ml-auto a:focus {
  outline: 0;
  color: #1b5b2e;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand.active {
  color: #00892c;
}
/****************** RESPONSIVENESS *********************/

@media only screen and (max-width: 1100px) {
  .navbar {
    padding: 20px 0;
    border: 0;
    background-color: transparent !important;
  }
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 767px) {
  .navbar-brand img {
    margin-top: 5px;
    margin-left: 5px;
  }
  .navbar {
    background: #fff url('../../assets/grass.png') no-repeat 100% 100% !important;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding: 20px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar .ml-auto a {
    text-decoration: underline;
  }
  .navbar .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar .ml-auto > .active > a {
    border-radius: 3px;
  }
  .navbar.navbar-shrink .ml-auto a {
    font-weight: 500;
    text-decoration: none;
  }
  .navbar.navbar-shrink {
    padding: 15px 0;
    background: #fff url('../../assets/grass.png') repeat-x center center;
  }
  .navbar.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
