/********************** NAVBAR ******************/
.nav {
  height: 60px;
  display: flex;
  background: gray;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.nav img {
  max-height: 110px;
  margin-top: -15px;
}

.nav-menu {
  color: #fff;
  font-style: italic;
  align-items: center;
  display: flex;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.nav-menu-links {
  color: #fff;
  font-style: italic;
  align-items: center;
  display: flex;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
