/* -------------------------------------Footer--------------------------------- */

footer {
  color: #fff !important;
  position: relative !important;
  background-color: #19201b !important;
}
footer p {
  margin-bottom: 20px;
  display: block;
}
footer a {
  color: #0ae94d;
}
footer a:hover {
  color: rgb(74, 231, 42);
  text-decoration: underline;
}
footer .grass {
  position: absolute;
  top: -192px;
  left: 0;
}
footer .chameleon {
  position: absolute;
  top: -122px;
  right: 0;
}
footer .chameleon img {
  max-width: 230px;
}

footer .top-footer {
  color: rgb(10, 9, 9);
  background: #fff !important;
}
footer .top-footer p {
  margin: 0;
  padding: 30px 0;
}
footer .top-footer div {
  padding-top: 30px;
  text-align: center;
}
footer .top-footer div .twitter {
  padding: 0 20px;
  border-right: 1px solid #aaa;
  margin-bottom: 20px;
}
footer .top-footer div .facebook {
  padding: 0 20px;
  border-right: 1px solid #aaa;
  margin-bottom: 20px;
}
footer .top-footer div .youtube {
  padding: 0 20px;
  border-right: 1px solid #aaa;
  margin-bottom: 20px;
}
footer .top-footer div .instagram {
  padding: 0 20px;
  border-right: 1px solid #aaa;
  margin-bottom: 20px;
}
footer .top-footer div .linkedin {
  padding: 0 20px;
  border-right: 1px solid #aaa;
  margin-bottom: 20px;
}

footer .top-footer ul li:last-child {
  border-right: none;
}
footer .top-footer div a {
  font-size: 35px;
}

footer .wrap-footer-bg {
  background: url(../../assets/bg-footer.png) no-repeat 0% 100%;
  padding-top: 50px;
  min-height: 400px;
}

footer .col-footer {
  margin-bottom: 50px;
}

footer .col-footer:after,
.col-footer:before {
  clear: both;
  content: '\0020';
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}
footer .col-footer .heading {
  text-align: center;
}
footer .col-footer .heading h4 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
}

footer .col-footer.footer-2 img {
  margin: 10px 0;
}

footer .copyright {
  border-top: 1px solid #3db843;
  text-align: center;
  padding-top: 30px;
}
footer .copyright ul {
  float: right;
}

footer .footer-newsletter {
  margin-top: 6em;
}

footer .footer-newsletter form {
  margin-top: 20px;
  padding-bottom: -10px;

  padding-right: 26px;
  position: relative;
  border-radius: 4px;
}

.footer-links {
  margin-top: 7em;
}

.footer-links li {
  list-style: none;
}

/******************** MEDIA QUERIES *******************/
@media only screen and (max-width: 768px) {
  footer .grass {
    position: absolute;
    top: -160px;
    left: 0;
  }
  footer .grass img {
    max-width: 250px;
  }
  footer .chameleon {
    position: absolute;
    top: -95px;
    right: 0;
  }
  footer .chameleon img {
    max-width: 160px;
  }
}
@media (max-width: 575px) {
  footer .top-footer {
    margin: -20px 0 30px 0;
  }
}
